html, body {
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

a, a:visited {
    color: #069;
    text-decoration: none;
}

.content {
    width: 1000px;
}

main {
    padding: 0px 10px 40px 10px;
}

.title-image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.title-image img {
    width: 700px;
}

#breadcrumbs {
    padding: 10px 10px 10px 10px;
}

.navbar {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    /*background-color: #666;*/
    padding: 10px;
    /*color: white;*/
    border-bottom: 1px solid gray;
}

.navbar a {
    /*color: white;*/
    font-weight: bold;
}

.navbar-menu ul {
    display: flex;
    flex-direction: row;
}

.navbar-menu ul li {
    list-style-type: none;
}
